.team-input {
    padding: 8px;
    margin-right: 10px;
    width: 300px;
    font-size: 16px; /* Increase font size for input */
    border-color: black;
    text-align: center;
  }

.inner {
    background-color: white;
    border: 5px solid black;
    background-image: url('../images/bball-court.png');
    background-size: cover;
    position: relative;
    width: 65%;
    margin:auto;
    padding: 5%;
    font-size: 130%;
}


