.nav-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .nav-button:hover {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }