/* client/src/components/NavButton.css */
.nav-button {
  display: inline-block; 
  background-color: #dfe8e8;
  color: black;
  padding: 18px 20px;
  margin: 2%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
}
  
.nav-button:hover {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 9px 12px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: white;
  color: black;
}